.pricing-container {
  grid-template-columns: repeat(3, 1fr);
  position: relative;
}

.card-two {
  border: var(--border);
  box-shadow: 0px 2px 8px var(--text-color);
}

.pricing-card {
  padding: 25px;
  padding-bottom: 35px;
  cursor: default;
  font-weight: 700;
  color: var(--title-color);
}
.pricing-subtitle {
  margin-bottom: 2rem;
  display: block;
}

.pricing-price {
  font-size: var(--h2);
}
.pricing-price em {
  font-size: var(--h5);
  margin-left: 0.3rem;
}
.pricing-price span {
  color: var(--first-color);
}

.pricing-description {
  font-weight: 400;
  margin-block: 1rem 2.5rem;
}

.pricing-menu {
  margin-bottom: 3rem;
}

.pricing-list {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.pricing-list del {
  color: var(--text-color);
  margin-left: 1.5rem;
}
.pricing-check {
  color: var(--first-color);
}

.pricing-btn {
  width: 100%;
  justify-content: center;
  align-items: center;
}
.pricing-btn:hover .pricing-card-icon {
  right: 15%;
}

.pricing-card-icon {
  color: var(--title-color);
  position: absolute;
  right: 10%;
  transition: all 0.3s;
}
.pricing-btn::before {
  opacity: 1;
  transform: scale(1);
}

.badge {
  position: absolute;
  left: 52%;
  top: -15px;
  background-color: var(--first-color);
  color: var(--title-color);
  border-radius: 2rem;
  padding: 0.2rem 2rem;
  font-weight: 700;
  box-shadow: var(--shadow);
  border: var(--border);
}

.pricing-shape {
  width: 150px;
  height: 150px;
  right: -7%;
  bottom: -5%;
  z-index: 0;
}

.pricing-deco-shape {
  bottom: -22%;
}
