.blog-container {
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
}
.blog-card {
  padding: 25px;
  cursor: default;
}
.blog-card-date,
.blog-card-btn {
  font-weight: 700;
}
.blog-card-title {
  font-size: var(--h3);
  margin-block: 1rem;
  color: var(--title-color);
}
.blog-card-btn {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  margin-block: 1rem 1.5rem;
  font-family: var(--first-font);
  font-size: var(--h6);
}
.blog-card-img {
  width: 100%;
  height: 200px;
  border-radius: 1rem;
  object-fit: cover;
}
