.services-card {
  padding: 25px;
  color: var(--title-color);
  font-weight: 700;
  min-height: 340px;
  text-align: left;
}
.services-container {
  text-align: center;
}
.services-name {
  text-transform: uppercase;
  font-size: var(--tiny);
}
.services-title {
  margin-block: 2.5rem 1rem;
}

.services-description {
  font-size: var(--h6);
  font-weight: 400;
  color: var(--text-color);
}
