.testimonial-card {
  padding: 25px;
}
.testimonial-header {
  position: relative;
}
.testimonial-card-icon {
  position: absolute;
  left: 6%;
  border-bottom-right-radius: 1rem;
  width: 50px;
  height: 50px;
  background-color: var(--back-color);
  object-fit: cover;
}

.testimonial-card-img {
  border-radius: 1rem;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.testimonial-card-description {
  margin-block: 1.5rem 4rem;
}

.testimonial-card-author {
  font-size: var(--h6);
}
.testimonial-card-name {
  color: var(--title-color);
}
