.resume-container {
  grid-template-columns: repeat(2, 1fr);
}
.resume-title {
  text-align: center;
  font-size: var(--h3);
  color: var(--title-color);
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--text-color);
}

.resume-card {
  position: relative;
  padding: 2rem;
  color: var(--title-color);
  font-weight: 700;
  border-bottom: 2px solid var(--text-color);
}
.resume-card:not(:nth-child(2)) {
  border-right: 2px solid var(--text-color);
}

.resume-card-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--back-color);
  right: -23px;
  bottom: -20px;
  border: var(--border);
  box-shadow: var(--shadow);
  z-index: 10;
  font-size: var(--h4);
  text-align: center;
  padding-top: 0.15rem;
  cursor: pointer;
}

.resume-card-title {
  cursor: pointer;
}

.resume-card-hidden {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s;
}
.show-hidden {
  max-height: 120px;
}

.resume-card-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--second-font);
  font-size: var(--h4);
  margin-block: 2rem 1.2rem;
}

.resume-card-date {
  font-family: var(--first-font);
  font-size: var(--h6);
}

.resume-card-description {
  color: var(--text-color);
  font-size: var(--h6);
}
