/* ================== content =================== */
.contact-item {
  display: flex;
  column-gap: 5rem;
  margin-bottom: 2rem;
}
.contact-icon {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--back-color);
  border: var(--border);
  box-shadow: var(--shadow);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--h4);
}
.contact-icon::before {
  content: "";
  position: absolute;
  left: 100%;
  width: 40px;
  height: 1px;
  background-color: var(--text-color);
  z-index: -1;
}

.contact-info-title {
  color: var(--title-color);
  font-size: var(--h3);
  font-family: var(--second-font);
}
.contact-info-info {
  font-size: var(--h6);
}

.contact-info {
  margin-top: 0.5rem;
}

/* ================= input ================== */
.contact-container {
  grid-template-columns: 5fr 7fr;
}

.contact-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  font-weight: 700;
}

.contact-input-box:nth-child(3),
.contact-input-box:nth-child(4),
.contact-submit {
  grid-column: 1/-1;
}
.contact-lable {
  margin-bottom: 0.5rem;
  display: block;
}
.contact-lable span {
  color: var(--first-color);
}
.contact-lable span.error {
  color: #e63946;
}
.contact-input {
  width: 100%;
  background-color: var(--back-color);
  border: var(--border);
  color: var(--text-color);
  font-size: var(--h6);
  border-radius: 2rem;
  padding: 1rem 1.5rem;
  outline: none;
  margin-bottom: 1.5rem;
}
.contact-textarea {
  resize: none;
  height: 180px;
}

.contact-submit {
  display: flex;
  align-items: center;
  justify-content: end;
  column-gap: 0.5rem;
  width: 100%;
}
.contact-submit div {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.contact-terms {
  margin-right: 1rem;
  font-size: var(--h6);
}
.submit-btn {
  font-weight: 700;
  font-family: var(--fisrt-font);
  cursor: pointer;
}

.contact-checkbox {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

input[type="checkbox"] {
  accent-color: var(--first-color);
}

.error {
  color: #e63946;
}

.disabled {
  opacity: 0.5;
}

.contact-shape {
  bottom: -14%;
}
