.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.home-container {
  position: relative;
  font-weight: 700;
  width: 100%;
  text-transform: uppercase;
}

.home-uptitle {
  font-size: var(--h5);
}

.home-uptitle span,
.home-title span {
  color: var(--first-color);
}

.home-title {
  font-size: var(--big-font-size);
  letter-spacing: 0.4rem;
  margin-block: 0.5rem;
  text-shadow: 2px 2px hsl(0, 0%, 0%), -2px 2px hsl(0, 0%, 0%),
    2px -2px hsl(0, 0%, 0%), -2px -2px hsl(0, 0%, 0%), 5px 5px 0 rgb(0 0 0/ 20%);
}
.home-title span {
  margin-left: 1.2rem;
}

.home-subtitle {
  font-size: var(--h5);
  margin-bottom: 2.5rem;
}
.home-subtitle span {
  font-size: var(--h2);
  font-family: var(--second-font);
  margin-left: 0.6rem;
}

.home-data {
  max-width: 50%;
}

.home-description {
  text-transform: capitalize;
  font-weight: 500;
}

.social {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin-block: 1.5rem;
}

.social-link {
  color: var(--title-color);
  font-size: var(--h2);
  transition: all 0.3s;
}
.social-link:hover {
  color: var(--first-color);
}
.home-skills-btn {
  position: relative;
  padding-left: 3.5rem;
  color: var(--text-color);
  font-size: var(--h6);
  transition: all 0.2s;
}
.home-skills-btn:hover {
  color: var(--title-color);
}
.home-skills-btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 25%;
  height: 3px;
  background-color: var(--text-color);
}

/* ================== home img ================== */
.home-img-wrapper {
  position: absolute;
  top: 0;
  transform: translateY(-6%);
  right: 1%;
  width: 100%;
  max-width: 510px;
}

.home-banner {
  background-color: var(--first-color);
  border-radius: 50%;
  padding-bottom: 100%;
}

.home-img {
  position: absolute;
  bottom: -1px;
  transform: translateX(-1%) rotate(3deg);
  height: 45.625rem;
  object-fit: cover;
  border-radius: 0px 0px 323px 360px;
}

/* ============= home box ================= */
.home-banner-box {
  position: absolute;
  align-items: center;
  column-gap: 0.7rem;
  font-size: var(--h6);
}
.home-banner-box::before {
  all: unset;
}
.home-banner-box span:not(:last-child) {
  font-size: var(--h2);
}
.box-1 {
  left: -18%;
  bottom: 24%;
}
.box-2 {
  right: -16%;
  bottom: 10%;
}
.box-1 span:nth-child(2),
.home-banner-box span:last-child div {
  color: var(--first-color);
}

/* ============= home shape ================== */
.home-shape {
  position: absolute;
}
.shape1 {
  width: 200px;
  height: 200px;
}
.shape2,
.shape3 {
  width: 150px;
  height: 150px;
}

.shape1 {
  top: -12%;
  right: 14%;
}
.shape2 {
  bottom: 6%;
  left: -23%;
}
.shape3 {
  bottom: -8%;
  right: -10%;
}
