.nav {
  position: fixed;
  width: 100%;
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

.nav-logo {
  color: var(--title-color);
  cursor: pointer;
  font-size: var(--h2);
  font-weight: 700;
  letter-spacing: 0.4rem;
  text-shadow: 2px 2px hsl(0, 0%, 0%), -2px 2px hsl(0, 0%, 0%),
    2px -2px hsl(0, 0%, 0%), -2px -2px hsl(0, 0%, 0%), 5px 5px 0 rgb(0 0 0/ 20%);
}

.nav-btns {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}

.theme {
  font-size: var(--h2);
  cursor: pointer;
}
.nav-toggle {
  position: relative;
  margin-bottom: 0.5rem;
  cursor: pointer;
  width: 28px;
  height: 19px;
}

.nav-toggle span {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--text-color);
  transition: all 0.3s ease;
}
.nav-toggle span:first-child {
  top: 0;
}
.nav-toggle span:last-child {
  bottom: 0;
}

.show-nav span:first-child {
  transform: translate(-4px, 8px) rotate(53deg);
}
.show-nav span:last-child {
  transform: translate(-5px, -8px) rotate(-55deg);
}
.nav-scrolled {
  background-color: var(--back-color);
  animation: scroll 0.8s ease-out 0s forwards;
}

@keyframes scroll {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

/* ================ lsit =================== */
.nav-menu {
  position: fixed;
  right: -100%;
  width: 420px;
  inset-block: 0;
  background-color: var(--back-color);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
}
.open-nav {
  right: 0;
  height: 100vh;
}
.nav-item {
  margin-bottom: 1.2rem;
}
.nav-link {
  cursor: pointer;
}

.nav-shape {
  width: 220px;
  height: 220px;
  top: -7%;
  left: -22%;
}

.nav-deco {
  top: 52%;
  left: 8%;
  height: 70%;
}
