.skills-container {
  grid-template-columns: repeat(3, 1fr);
  row-gap: 5rem;
}

.skills-card-info {
  padding: 15px;
  margin-bottom: 1.7rem;
}

.skills-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.skills-percentage {
  font-size: var(--h5);
}
.skills-percentage span {
  color: var(--first-color);
}
.skills-description {
  font-size: var(--h6);
}

.skills-pro {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: var(--text-color);
}
.skills-pro-line::before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--back-color);
  border: var(--border);
  box-shadow: var(--shadow);
}
.skills-pro-line {
  position: absolute;
  height: inherit;
  background-color: var(--first-color);
}
