.footer-container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding-block: 3rem 1.5rem;
  width: 100%;
}
.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-social {
  margin-block: 0;
}

.footer-copy,
.footer-develope {
  text-transform: capitalize;
  font-weight: 600;
}

.footer-copy span,
.footer-develope span {
  color: var(--first-color);
}
